[user]
	email = mark@crawleyweb.co.uk
	name = Mark Crawley
[color]
    diff = auto
    status = auto
    branch = auto
[color "status"]
    added = green
    changed = cyan
    untracked = red 
[color "diff"]
    meta = yellow
    old = red 
    new = green
[credential]
	helper = cache --timeout=3600
[alias]
    st = status
    cl = clone
    cma = commit -a -m
    cm = commit -m
[init]
	defaultBranch = main
